@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* FORCE SYNE FOR EVERYTHING */
  --font-sans: var(--font-syne); 
  --font-serif: var(--font-syne);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans); /* This now defaults to Syne */
}